/*
 * My Application Styling.
 *
 * @body.css - my styling for 
 *      - Nav
 *      - header
 *      - Footer 
 */

/*
 * Root
 */
:root {
    --color-primary: lightblue;
    --color-black:  black;
    --color-red: red;
    --color-white: white;
    --color-grey: #a0a0a0;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --color-red: #cd3e65;
    --color-green: #08805b;
  
    --text-color: var(--color-black);
    --valid-color: var(--color-green);
    --error-color: var(--color-red);
 }
/*
styling for NAVIGATION PANEL
===============*/

nav {
    background-color: var(--color-primary);
    gap: 1.5pt;
    display: flex;
    border-bottom: 1px solid black;
    border-left: 2px solid black;
    border-top: 1px solid black;
    border-right: 2px solid black;
    border-radius: -50%;
}

.nav-ul {
    margin: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    
    
}

.nav-btns {
    padding: 5pt;
    border-radius: 50pt;
}

.nav-btns:hover {
    background-color: var(--color-black);
}

a {
    list-style: none;
    color: var(--color-primary);
}

/*
styling for HEADER
===============*/

header {
}

.profilePic-username {
    display: flex;
    flex-wrap: wrap;
}

/* snap img
 */
 
.username-user{
     display: flex;
     flex-direction: row;
     
   }

   
.pro-img {
    border-radius: 50%;
    border: 1px solid var(--color-black);
     
}
.user-name {
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: bold;
}

/*
styling for BODY
===============*/
body {
    background-color: var(--color-primary);
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

/*
styling for FOOTER
===============*/

footer {
    display: flex;
    justify-content: center;
    padding: 15px;
    border-right: 10px solid var(--color-black);
    border-top: 5px solid var(--color-black);
    border-bottom: 5px solid var(--color-black);
    border-radius: 10pt;
    
}

.inFooter {
    gap: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.version {
    gap: 50%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    
}
.rights {
    margin: 0;
    padding: 15px;
    flex-wrap: wrap;
    border-left: 3px solid var(--color-black);
    align-items: center;
    justify-content: center;

    
}

/*
 * T&Cs
 */
.terms-head {
    display: flex;
    margin: 0px;
    padding: 1.5px;    
}
.ul-terms {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 50px;
    
}

.li-terms:hover {
    border: 1px solid var(--color-black);

}
.btn-terms {
    border: 1px solid var(--color-primary);
    color: var(--color-black);

}
