/*
 * app.html
 */

:root {
   --color-primary: lightseagreen;
   --color-black:  black;
   --color-red: red;
   --color-white: white;
   --color-grey: #a0a0a0;
   --color-light-grey: #f3f3f3;
   --color-dark-grey: #353535;
   --color-red: #cd3e65;
   --color-green: #08805b;

   --text-color: var(--color-black);
   --valid-color: var(--color-green);
   --error-color: var(--color-red);
}

/*
 * Content
 */

 .content {
    margin: 0;
    padding: 2pt;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
 } 

 .notice-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: var(--color-white);
    border-radius: 70px;
    border: 1px solid var(--color-black);
 }

/*
 * content Head
 * content body
 */

.content-head {
    margin: 0;
    padding: 2%;
    border-radius: 50%;
    border: 3px solid var(--color-red);
    font-weight: bold;
    font-size: 12pt;

}

.content-head:active {
    font-weight: bold;
    background-color: var(--color-black);
    color: var(--color-red);

}

.content-body {
    margin: 0;
    padding: 15px;
    justify-content: center;
    
}


