/*
 * Profile styling
 */



.profile-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.div-home {
    padding: 15px;
    align-self: center;
    
    
}

.profile-head {
    display: flex;
    justify-content: space-between;
    width: 50vw;
    border-bottom: 3px solid black;
    
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.profile-btns {
    display: flex;
    width: 50vw;
    justify-content: space-between;
    
}

.delete-acc-btn {
    color: var(--color-black);
    background-color: var(--color-secondary);
}

.delete-acc-btn:hover {
    background-color: red;
    font-weight: bold;

}

.flash-message {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    display: none;
    padding: 15px;
    border-radius: 5px;
}
.flash-message.success {
    background-color: lime;
    color: white;
}
.flash-message.error {
    background-color: red;
    color: white;
}