/*
styling for HEADER
===============*/

header {
    margin-left: 0;
    padding: 1.5px;
    border-left: 5px solid black;
    border-bottom: 3px solid black;

}

/*
styling for BODY
===============*/
body {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    border: 3px solid red;
}

/*
styling for FOOTER
===============*/

footer {
    border: 3px solid lime;

}

.inFooter {
    border: 3px solid black;


}
.version {
    display: flex;
    justify-content: right;
    border: 3px solid gold;

}
.rights {
    border: 3px solid red;


}