/*
 * Styles for my Content elements
 */


 /*
  * main - content
  *
  */
.div-flex {
    display: flex;
    justify-content: space-evenly;
    border-left: 10px solid black;
    border-bottom: 5px solid black;
    border-radius: 10pt;
    
    
 }

 .div-h2 {
     padding: 0.5pt;
     
    }
    
.div-h2-p {
    margin: 0;
    display: flex;
    align-items: center;
    padding: 15px;
    border-left: 2px solid red;
   
}

 /*
  * on Contact_page
  */
.ul-info {
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 15px;
    border-top: 10px solid black;
    border-bottom: 5px solid black;
    border-radius: 10%;
    
}

.ul-li {
    padding: 1.5pt;
    justify-content:flex-end;
    
}

