<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/application.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/noticeNews.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/screen.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='css/images/favicon.ico') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='css/images/favicon.png') }}">

</head>
<body>
    {% include 'layout/navBar.html' %}
    {% include 'layout/header.html' %}

    <div class="div-flex">
        <h2 class="div-h2">Contact Us</h2>
        <p class="div-h2-p">How to get in touch with us.</p>
    </div>
    <div >
        <ul class="ui-info-head">
            <div class="ul-info-body">
                    <div>
                    <img src="../static/css/images/logo.png" alt="Reach_inc©2024" width="200px">
                    </div>
                <div >
            <li class="ul-li">Call: (+27) 79 311 9969</li>
            <li class="ul-li">Work: (+XX) XX XXX XXXX</li>
            <li class="ul-li">Address: <ul>
                <li>XXX XXX </li>
                <li>Zamdela</li>
                <li>Sasolburg</li>
                <li>1949</li>
            </ul> </li>
        </div>
        </div>
        </ul>
        </div>

    {% include 'layout/footer.html' %}
</body>
</html>
