<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Page</title>
    <meta name="description" content="Description of the page less than 150 characters">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/application.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/noticeNews.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/screen.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='css/images/favicon.ico') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='css/images/favicon.png') }}">
    <script type="text/javascript" src="totop.js">
    </script>
</head>
    {% include 'layout/navBar.html' %}
    {% include 'layout/header.html' %}
<main>
    <div>
    <!-- Page content goes here -->
    <div class="div-flex">
        <h1 class="div-h2">Welcome to My Web</h1>    
    </div>
    <div class="content">
        <h2 class="content-head">Notice Board !</h2>
        <p class="content-body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit culpa ipsum id a sequi adipisci iusto cum accusamus quibusdam, sapiente earum quidem optio laboriosam dignissimos itaque eum reiciendis? Blanditiis, possimus!
        Sit officiis consectetur eum sequi provident culpa aliquam maxime nihil laboriosam, nulla odio vero in rerum impedit blanditiis cum! Sequi illum repudiandae aliquid amet natus facilis sit quae, expedita libero?</p>
        <section class="notice-section">
            <h1 class="content-head">Latest News</h1>
            
            <p class="content-body">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti tempore laboriosam, dolore, recusandae dignissimos est similique repudiandae, corporis minima sapiente perferendis laborum. Soluta, minima ut pariatur quaerat amet asperiores culpa!
                <br><br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum dicta quae accusantium magni necessitatibus corporis exercitationem cum possimus amet quas unde eaque ea at illum, inventore quos tempora explicabo sunt.
            </p>
            <div class="snap-latestNews-img">
                <img src="../static/images/favicon.png" alt="Reach_inc©2024" width="100px">
            </div>
        </section>
    </div>
</div>

</main>
{% include 'layout/footer.html' %}
</body>
</html>
