<footer>
    <div class="inFooter">
        <div class="version">
            <div>
                <img src="../../static/css/images/logo-black.png" alt="Reach_inc©2024"><a href=""></a></img>
            </div>
            <div>
            <p>build_ver.1.0.1</p>
        </div>
        </div>
        <div class="terms-head">
            <ul class="ul-terms">
              <li class="li-terms">
               <a href="#"><button class="btn-terms"> Terms of use</button></a>
              </li>
              <li class="li-terms">
                <a href="#"><button class="btn-terms">Privacy Policy</button></a>
              </li>
              <li class="li-terms">
                <a href="#"><button class="btn-terms">Cookie Policy</button></a>
              </li>
            </ul>
          </div>
    <div class="rights">
        <p> Reach_inc &copy; 2024. All rights reserved.</p>
    </div>
    
</div>
</footer>
