<nav>
    <div>
        <img src="../../static/css/images/favicon.png" alt="Reach_inc©2024" width="20%"></div>
    <div>
    <ul class="nav-ul">
        <button class="nav-btns"><li><a href="/home" style="list-style: none;">Home</a></li></button>
        <button class="nav-btns"><li><a href="/about">About</a></li></button>
        <button class="nav-btns"><li><a href="/services">Services</a></li></button>
        <button class="nav-btns"><li><a href="/contact">Contact</a></li></button>
    </ul>
    </div>
</nav>
